APP_NAME=DevWebII Aplication for development

APP_PORT=4000
APP_HOSTNAME=localhost

# Banco de dados MongoDB
MONGO_HOST=<your hostname>
MONGO_USERNAME=<your user>
MONGO_PASSWORD=<your password>
MONGO_PORT=27017
MONGO_DATABASE=DevWeb

# Banco de dados Postgres
POSTGRES_HOST=<your hostname>
POSTGRES_USERNAME=<your user>
POSTGRES_PASSWORD=<your password>
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres